#app-home-about-showcase {
    height: 100%;
}

#right-home-about-container{
    background-color: white;
    height: fit-content;
    border-radius: .8rem;
    border: 1px solid rgba(226, 225, 223, 1);
    width: 100%;
    padding: 1.4rem;
    font-size: 1.4rem;
}

#right-home-about-container>p:first-child, #right-home-about-container>p:nth-child(3), #right-home-about-container>p:nth-child(5) {
    font-size: 1.6rem;
    margin-bottom:  1rem;
    font-weight: 500;
}
#right-home-about-container>ul>li{
    list-style: inside;
    line-height: 2rem;
}
#right-home-about-container>ul>p{
    padding-left: 1.9rem;
    color: rgba(0,0,0,0.6);
}

.about-title {
    padding-bottom: 1.6rem;
}



#right-home-footer-outer-container{
    height: min-content;
    position: sticky;
    padding: 1.2rem 2.4rem;
    margin-top: .8rem;
    top: 7rem;
}

#right-home-footer-inner-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1rem;
}

.app-home-footer{
    display: flex;
    justify-content: center;
    color: rgba(0,0,0,0.6);
    font-size: 1.2rem;
    font-weight: 400;
}

.app-home-footer>a{
    margin-left: .3rem;
}

.app-home-footer>a:hover{
    margin-left: .3rem;
    color: #0073b1;
    text-decoration: underline;
}
#technology-labels {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    color: rgba(0,0,0,0.6);
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
}

#technology-labels>li:hover {
    color: #0073b1;
    text-decoration: underline;
}

#copyright-footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    font-size: 1.2rem;
    margin-top:1rem;
}

#copyright-footer-logo {
    width: 22%;
}
