#app-home-about-showcase {
    height: 100%;
}

#right-home-about-outer-container{
    background-color: white;
    height: fit-content;
    border-radius: .8rem;
    border: 1px solid rgba(226, 225, 223, 1);
    width: 100%;
}

#right-home-footer-outer-container{
    height: min-content;
    position: sticky;
    padding: 1.2rem 2.4rem;
    margin-top: .8rem;
    top: 7rem;
}

#right-home-footer-inner-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1rem;
}

.app-home-footer{
    display: flex;
    justify-content: center;
    color: rgba(0,0,0,0.6);
    font-size: 1.2rem;
    font-weight: 400;
}

.app-home-footer>a{
    margin-left: .3rem;
}

.app-home-footer>a:hover{
    margin-left: .3rem;
    color: #0073b1;
    text-decoration: underline;
}
#technology-labels {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    color: rgba(0,0,0,0.6);
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
}

#technology-labels>li:hover {
    color: #0073b1;
    text-decoration: underline;
}

#copyright-footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    font-size: 1.2rem;
    margin-top:1rem;
}

#copyright-footer-logo {
    width: 22%;
}
