.app-home-outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(243, 242, 239, 1);
    position: relative;
}

.app-home-main-container {
    max-width: 1128px;
    width: 100%;
    /* background-color: rgba(89, 89, 207, 0.454); */
    display: flex;
    margin-top: 2.8rem;
    margin-bottom: 5rem;
    justify-content: space-between;
}

.app-home-profile-section {
    width: 20%;
}

.app-home-feed {
    width: 48%;
}

.app-home-right {
    width: 28%;
}

#app-home-post-heading-container {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    line-height: 1.8rem;
    margin-bottom: .8rem;
}

#app-home-heading-left-container {
    display: flex;
    height: min-content;
}

#app-home-heading-right-container-options {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.2rem;
    aspect-ratio: 1 /1;
    transition-property: background-color;
    transition-duration: 0.167s;
    transition-timing-function: ease-in;
    cursor: pointer;
    position: relative;
    /* transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) */
}

#app-home-heading-right-container-options:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

#three-dots {
    width: 2.4rem;
    padding: .4rem;
}

#app-home-heading-right-container-options-list {
    position: absolute;
    top: 100%;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: .8rem;
    border-top-right-radius: .2rem;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 15%);
    min-width: 16.8rem;
    right: 0;
}

#app-home-heading-right-container-options-list>* {
    display: flex;
    align-items: center;
    height: 5.6rem;
    padding: .8rem 1.6rem;
}

#app-home-heading-right-container-options-list>li:hover {
    background-color: rgb(242, 242, 242);

}

#app-home-post-heading-name {
    margin-left: .8rem;
}

.app-home-post-user-subheading {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}


.app-home-post {
    background-color: white;
    border: 1px solid rgba(226, 225, 223, 1);
    border-radius: .8rem;
    height: fit-content;
    line-height: 2.4rem;
    margin-bottom: .8rem;
    font-size: 1.4rem;
    padding: 1.6rem;

}

#post-spacer {
    border-bottom: 1px solid rgba(226, 225, 223, 1);
    height: 1.6rem;
    margin: .8rem 0;
}

#interaction-container {
    display: flex;
    justify-content: flex-end;
    color: rgba(0, 0, 0, 0.6);
}

#comment-interaction {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    padding: .8rem;
    border-radius: .35rem;
    transition-property: background-color;
    transition-duration: 0.167s;
    transition-timing-function: ease-in;
    cursor: pointer;
    user-select: none;
    /* transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1); */
}

#comment-interaction:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

#comment-icon {
    font-size: 2.4rem;
    margin-right: .4rem;
}
