#modal-content {
    max-width: 552px;
    height: min-content;
    min-height: 379px;
    max-height: 504px;
    width: 100%;
    top: 3rem;
}

#create-post-heading-exit-container {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 2.4rem;
    font-size: 19.8px;
    border-bottom: .1rem solid rgba(0, 0, 0, 0.08);
}

#create-post-subtitle {
    color: rgba(0, 0, 0, 0.9);
}

#create-post-exit-button {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 100;
}

#create-post-user-info-container {
    display: flex;
    padding: 12px 24px;
}

#create-post-user-info-icon {
    border-radius: 50%;
    width: 5rem;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

#no-pp {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#no-pp {
    object-fit: fill;
}

#create-post-user-info-name {
    display: flex;
    padding-left: 8px;
    margin-left: 4px;
    font-size: 15px;
    font-weight: 500;
}

#form-container {
    display: flex;
    justify-content: center;
    padding: 12px 0;
}

#body-form textarea {
    width: 100%;
    font-size: 16px;
    resize: none;
}

#body-form {
    max-width: 504px;
    width: 100%;
    min-height: 96px;
}

#create-post-footer-container{
    min-height: 120px;
}
