#create-post-container {
    background-color: white;
    height: 8rem;
    margin-bottom: .8rem;
    display: flex;
    border-radius: .8rem;
    border: 1px solid rgba(226, 225, 223, 1);
}

#create-post-content {
    display: flex;
    align-items: center;
    justify-items: spa;
    margin: .8rem;
}

#create-post-button:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

#create-post-button {
    border-radius: 5rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 37rem;
    height: min-content;
    padding: 1.7rem 2.2rem;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 1rem;
    color: rgba(0, 0, 0, 0.6);
    transition: background-color 167ms cubic-bezier(.4, 0, .2, 1);
}

#post-separator {
    height: 1px;
    background: rgba(0, 0, 0, 0.06);
    margin-bottom: .8rem;
}

#modal-content {
    max-width: 552px;
    height: min-content;
    min-height: 379px;
    max-height: 504px;
    width: 100%;
    top: 3rem;
}

#create-post-heading-exit-container {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 2.4rem;
    font-size: 19.8px;
    border-bottom: .1rem solid rgba(0, 0, 0, 0.08);
}

#create-post-heading-exit-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 28px;
    align-items: center;
}

#create-post-subtitle {
    color: rgba(0, 0, 0, 0.9);
}

#create-post-exit-button {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 100;
}

#create-post-user-info-container {
    display: flex;
    height: 78px;
    padding: 12px 24px;
}

#create-post-user-info-icon {
    border-radius: 50%;
    width: 4.8rem;
    height: 4.8rem;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

#no-pp {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#create-post-user-info-name {
    display: flex;
    padding-left: 8px;
    margin-left: 4px;
    font-size: 15px;
    font-weight: 500;
}

#form-container {
    display: flex;
    justify-content: center;
    padding: 12px 0;
}

#body-form textarea {
    width: 100%;
    font-size: 16px;
    resize: none;
}

#body-form {
    max-width: 504px;
    width: 100%;
    min-height: 96px;
}

#create-post-footer-container {
    min-height: 120px;
}

#empty-div {
    height: 56px;
}

#post-container {
    padding: 12px 24px;
    height: 6.4rem;
    display: flex;
    justify-content: flex-end;
}

#create-post-form-can-submit {
    display: flex;
    justify-content: center;
    border-radius: 10%;
    padding: .6rem 1.6rem;
    font-weight: 600;
    font-size: 1.55rem;
    width: 6.5rem;
    height: 3.2rem;
    align-items: center;
    background-color: #0A66C2;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    max-width: 480px;
    min-height: 40px;
}

#create-post-form-can-submit:disabled {
    background-color: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.3);
}
