body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    pointer-events: none;
    display: block;
    /* For Firefox */
}

.input-error-text {
    color: red;
}

.input-error {
    border: 2px solid #d11124;
}
.input-error:focus-within {
    box-shadow: 0 0 0 0px #d11124;
    border-color: #d11124;
}
