#landing-page-heading {
    display: flex;
    justify-content: center;
}

#landing-page-nav-bar-container {
    max-width: 1128px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* margin: 0 6rem; */
    padding: 1rem 0 1.6rem;
}

#landing-page-nav-bar-main-right {
    display: flex;
    justify-content: space-between;
}

#nav-bar-right-left {
    display: flex;
    color: rgba(0, 0, 0, 0.6);
    align-items: center;
}

#repo-icon-container {
    margin: 0 1rem;
    height: min-content;
}

#repo-icon-content {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#connect-icon-container {
    display: flex;
    margin: 0 1rem;
    height: min-content;
}

#connect-icon-container::after {
    display: flex;
    align-items: center;
    content: "";
    height: 4rem;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.6);

}

#connect-icon-content {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#nav-bar-right-actions {
    display: flex;
    font-size: 1.8rem;
}

#landing-page-nav-bar-logo {
    width: 13.5rem;
}

#join-now-container {
    padding: 1.2rem 1.5rem;
}

#sign-in-container {
    padding: 1.2rem 1.8rem;
    border: 1px solid #2977c9;
    color: #2977c9;
    border-radius: 2.4rem;
}
