#landing-page-container{
    display: flex;
    justify-content: center;
}

#landing-page-app-container{
    max-width: 1128px;
    width: 100%;
    background-color: brown;
}

#landing-page-section-one{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding-top: 4rem;
}

#man-sitting {
    position: relative;
    flex-wrap: nowrap;
    flex-shrink: inherit;
}
