#landing-page-heading {
    display: flex;
    justify-content: center;
}

#landing-page-nav-bar-container {
    max-width: 1128px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1.6rem;
}

#landing-page-nav-bar-main-right {
    display: flex;
    justify-content: space-between;

}

#nav-bar-right-left {
    display: flex;
    color: rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
}

.navbar-icons {
    display: flex;
    margin: 0 10px;
    justify-content: center;
    width: 5rem;
}

.navbar-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.icon-content {
    display: flex;
    flex-direction: column;
    margin: 2px;
}

#nav-icon {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.icon-names {
    font-size: 1.3rem;
}

#nav-bar-right-left::after {
    display: flex;
    align-items: center;
    content: "";
    height: 4rem;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.6);
    margin-left: 2rem;

}

/* #connect-icon-content {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

#nav-bar-right-actions {
    display: flex;
    font-size: 1.6rem;
    font-weight: 500;
}

#landing-page-nav-bar-logo {
    width: 13.5rem;
}

#join-now-container {
    padding: 1.2rem 3rem;
    border-radius: 30px;
    margin: 0 .5rem;
    color: rgba(0, 0, 0, 0.75);

}

#join-now-container:hover{
    background-color: lightgray;
    cursor: pointer;
}
#sign-in-container {
    padding: 1.2rem 1.8rem;
    border: 1px solid #2977c9;
    color: #2977c9;
    font-weight: 500;
    border-radius: 2.4rem;
}
