#landing-page-container {
    display: flex;
    justify-content: center;
}

#landing-page-app-container {
    max-width: 1128px;
    width: 100%;
}

#landing-page-section-one {
    position: relative;
    display: flex;
    width: 100%;
    /* align-items: center; */
    justify-content: flex-start;
    padding-top: 4rem;
    min-height: 560px;
}

#section-one-left-container {
    width: 50%;
    height: 100%;
}

#section-one-right-container {
    width: 55%;
    height: 560px;
    position: absolute;
    top: 0;
    left: 50%;
}

#section-one-right-container img {
    height: 100%;
    width: 115%;
    object-fit: cover;
    object-position: left;
}

#man-sitting {
    position: relative;
    flex-wrap: nowrap;
    flex-shrink: inherit;
}

#landing-subtitle {
    color: #8f5849;
    font-weight: 100;
    font-size: 5.3rem;
}

#landing-section-login-form {
    margin: 2.4rem 18rem 1.6rem 0;
}
